
@{
    ViewBag.Title = "About";
}

<h2>About Tweety</h2>
<div class="row">
    <img src='~/images/TweetyIcon.png' alt="Logo" class="responsive-img" />
    <p>
        Aplikasi ini dibuat untuk mencari tweet dengan query tertentu dan mengkategorikannya
    </p>
</div>

<h3>Created by : </h3>
<br />
<div class="row">
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src='~/images/Jeje.jpg' class="responsive-img" alt="Jeje" />
            </div>
            <div class="card-content">
                Jeremia Jason Lasiman - 13514021
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src='~/images/Bervi.jpg' class="responsive-img" alt="Bervi" />
            </div>
            <div class="card-content">
                Bervianto Leo Pratama - 13514047
            </div>
        </div>
    </div>
    <div class="col s4">
        <div class="card">
            <div class="card-image">
                <img src='~/images/Zahid.jpg' class="responsive-img" alt="Zahid" />
            </div>
            <div class="card-content">
                Muhammad Az-zahid Adhitya Silparensi - 13514095
            </div>
        </div>
    </div>
</div>

