
@{
    ViewBag.Title = "About";
}

<h2>About Tweety</h2>
<div class="container">
    <img src='@Url.Content("~/Content/img/TweetyIcon.png")' alt="Logo" class="img-responsive" />
    <br />
    Aplikasi ini dibuat untuk mencari tweet dengan query tertetu dan mengkategorikannya
    <br />
    <h3>Created by : </h3>
    <br />
    <div class="row">
        <div class="col col-md-3">
            <img src='@Url.Content("~/Content/img/Jeje.jpg")' class="img-rounded img-responsive" alt="Jeje" />
            <br />
            Jeremia Jason Lasiman - 13514021
            <br />
        </div>
        <div class="col col-md-3">
            <img src='@Url.Content("~/Content/img/Bervi.jpg")' class="img-rounded img-responsive" alt="Bervi" />
            <br />
            Bervianto Leo Pratama - 13514047
            <br />
        </div>
        <div class="col col-md-3">
            <img src='@Url.Content("~/Content/img/Zahid.jpg")' class="img-rounded img-responsive" alt="Zahid" />
            <br />
            Muhammad Az-zahid Adhitya Silparensi - 13514095
            <br />
        </div>
    </div>
</div>

