@using Microsoft.AspNetCore.Http.Features
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
}

@if (showBanner)
{
    <div class="container">
        <div class="row center-align">
            <div class="col s12">
                <div class="card center">
                    <div class="card-content">
                        <span class="card-title">Accepting Cookies</span>
                        <p>
                            Use this space to summarize your privacy and cookie use policy.
                        </p>
                    </div>
                    <div class="card-action">
                        <a asp-controller="Home" asp-action="Privacy" class="btn">Learn More</a>
                        <button type="button" class="btn" data-cookie-string="@cookieString">Accept</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function () {
            document.querySelector("#cookieConsent button[data-cookie-string]").addEventListener("click", function (el) {
                document.cookie = el.target.dataset.cookieString;
                document.querySelector("#cookieConsent").classList.add("hidden");
            }, false);
        })();
    </script>
}