@using System.Security.Principal

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TweetyCore</title>
    <link rel="icon" href="~/images/Tweety.jpg" />
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.6.95/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://unpkg.com/buefy@0.8.8/dist/buefy.min.css">
</head>
<body class="has-navbar-fixed-top">
    <header class="navbar-fixed">
        <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">

            <div class="navbar-brand">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-item">
                    <figure class="image is-32x32">
                        <img src="~/images/Tweety.jpg" alt="Tweety" />
                    </figure>
                </a>
                <a role="button" class="navbar-burger" data-target="navMenu" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>
            <div class="navbar-menu" id="navMenu">
                <div class="navbar-end">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-item">Home</a>
                    <a asp-area="" asp-controller="Home" asp-action="About" class="navbar-item">About</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="navbar-item" href="#">
                            Hello @User.Identity.Name!
                        </a>
                        <a class="navbar-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">
                            Sign out
                        </a>
                    }
                    else
                    {
                        <a class="navbar-item" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <!--
    <partial name="_CookieConsentPartial" />
    -->
    <section class="section">
        <div id="app" class="container">
            @RenderBody()
        </div>
    </section>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
                &copy; 2018 - Tweety -
                <b>Bervianto Leo Pratama</b>
            </p>
        </div>
    </footer>
    <environment include="Development">
        <script src="https://unpkg.com/vue"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
    </environment>
    <script src="https://unpkg.com/buefy@0.8.8/dist/buefy.min.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
