<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TweetyCore</title>
    <link rel="icon" href="~/images/Tweety.jpg" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/materialize/css/materialize.css" media="screen,projection" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" media="screen,projection" href="~/lib/materialize/css/materialize.min.css" />
    </environment>
</head>
<body>
    <div class="navbar-fixed">
        <nav class="deep-orange">
            <div class="container">
                <div class="nav-wrapper">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="brand-logo"><img src="~/images/Tweety.jpg" alt="Tweety" width="50" height="50" /></a>
                    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul class="right hide-on-med-and-down">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <ul id="nav-mobile" class="sidenav">
        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
    </ul>

    <partial name="_CookieConsentPartial" />

    <div class="container">
        @RenderBody()
    </div>

    <footer class="page-footer deep-orange lighten-1">
        <div class="footer-copyright deep-orange">
            <div class="container">
                <p>&copy; 2018 - Tweety</p>
            </div>
        </div>
    </footer>


    <environment include="Development">
        <script src="~/lib/materialize/js/materialize.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/materialize/js/materialize.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
